* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #65081F;   
    padding: 20px; 
}
.nav{
    display: flex;
    gap: 30px;
   
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 18px;
    
    border-radius: 20px;
    transition: 0.3s ease;
}
.nav a:hover{
    color: black;
    background: #FFC048;

} 
.ourname{
    color:white;
}
.hero{
    background: #65081F;
    min-height: 100vh;
    margin-left:30px;
}
body{
    background-color: #65081F;
}
.hero .content{
    margin-left: 40px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: white;
    justify-content: space-between;
}
.hero .details .title{
    font-size: 45px;
    color: #FFC048;
    font-family: "Miniver", sans-serif;
}
.hero .details .subtitle{
    color: white;
    font-size: 37;
    margin-top: 8px;
    max-width: 70%;
}
.hero .details .quote{
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: 20px;
}
.hero  .image{
    width:500px;
    margin-right: 300px;
    background-color: #65081F;
}
.hero .buttons{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    border: 2px solid transparent;
    transition: 0.3s ease;
   
}
.buttons .sign-up{
    border: 2px solid black;
    padding: 15px 26px;
    border-radius: 25px;
    text-decoration: none;
    background-color: #FFC048;
    color: black;
    font-size: 33px
}
.buttons .account{
    border: 2px solid black;
    padding: 15px 26px;
    border-radius: 25px;
    text-decoration: none;
    background-color: #FFC048;
    color: black;
    font-size: 33px
}
.buttons .sign-in{
    padding: 15px 26px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-size: 33px;
    border:2px solid white ;
    border-color: white;
    background: transparent;
}
.buttons .logout{
    padding: 15px 26px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-size: 33px;
    border:2px solid white ;
    border-color: white;
    background: transparent;    
}
.sign-in:hover{
    border-color: black;
    color:black;
    background-color: #FFC048;
}
.sign-up:hover{
    border-color: white;
    color: white;
    background-color: transparent;
}
.account:hover{
    border-color: white;
    color: white;
    background-color: transparent;
}
.logout:hover{
    border-color: black;
    color:black;
    background-color: #FFC048;
}
