* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5ab2a6;
    font-family: "Lucida Console", "Courier New", monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-container {
    text-align: center;
    max-width: 400px;
    width: 100%;
}

#welcome {
    color: #fec63d;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#login-form input[type="email"],
#login-form input[type="password"] {
    background-color: whitesmoke;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    max-width: 250px;
}

#forgot {
    font-size: 12px;
    color: white;
    text-decoration: none;
    align-self: center;

}

#rem {
    font-size: 12px;
    color: white;
}

#rem label {
    margin-left: 5px;
}

#buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

#login,
#signup {
    background-color: #fec63d;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#noacc {
    font-size: 12px;
    margin-top: 15px;
    color: white;
}

#noacc a {
    color: #fec63d;
    text-decoration: none;
}

#circle1 {
    background-color: #fec63d;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 40px auto 0;
}
