* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5ab2a6;
    font-family: "Lucida Console", "Courier New", monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-container {
    text-align: center;
    max-width: 400px;
    width: 100%;
}

#welcome {
    color: #fec63d;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
}

#signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#signup-form input[type="email"],
#signup-form input[type="text"],
#signup-form input[type="password"] {
    background-color: whitesmoke;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    max-width: 250px;
}

#agree {
    font-size: 12px;
    color: white;
}

#agree a {
    color: #fec63d;
    text-decoration: none;
}

#signup-button {
    background-color: #fec63d;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
}

#acc {
    font-size: 12px;
    margin-top: 15px;
    color: white;
}

#acc a {
    color: #fec63d;
    text-decoration: none;
}


