* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #5ab2a6;
}

#APP_BAR {
    background-color: #fec63d;
    height: 20px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: sans-serif, ariel;
    font-size: 10px;
}

#FIRST {
    color: white;
    font-family: sans-serif, ariel;
    font-size: 12px;
    margin: 10px;
    padding-left: 500px;
}

#SECOND {
    color: black;
    font-family: sans-serif, ariel;
    font-size: 12px;
    margin: 10px;
}

.hamburger {
    width: 26px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 830px;
    position: absolute;
    top: 28px;
}

.hamburger div {
    width: 30px;
    height: 4px;
    background-color: white;
}

.book-container {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

img {
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-top: 50px;
}

.book-info {
    margin-left: 20px;
    color: black;
    font-family: sans-serif, ariel;
}

.book-info h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
    font-family: sans-serif, ariel;
}

.price {
    background: white;
    color: #5FA89E;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 20px;
    display: inline-block;
    border: none;
    font-family: sans-serif, ariel;
}

.book-button {
    background: none;
    border: 2px solid #FDC64A;
    color: #FDC64A;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    font-family: sans-serif, ariel;
}

.BOOK-DESCRIPTION {
    margin: 50px 50px 50px 50px;
}

.BOOK-DESCRIPTION h1 {
    font-family: sans-serif, ariel;
    font-weight: bold;
}

.BOOK-DESCRIPTION p {
    font-family: sans-serif, ariel;
    font-size: 18px;
    margin: 10px;
}





